<template>
	<view class="overview">
		<view class="topTitle">
			<text>Popular respositories</text>
		</view>
		<view class="cards">
			<view class="card_item">
				<view>mini-WX-blog</view>
				<view>forked from zhaofangmei/mini-WX-blog</view>
				<view>小程序开发项目·阿梅的博客</view>
				<view>Javascript</view>
			</view>
			<view class="card_item">
				<view>nideshop-mini-program</view>
				<view>forked from tumobi/nideshop-mini-program</view>
				<view>nideshop: 基于Nodejs + MySQL开发的开源微信小程序商城</view>
				<view>Javascript</view>
			</view>
			<view class="card_item">
				<view>mini-WX-blog</view>
				<view>forked from zhaofangmei/mini-WX-blog</view>
				<view>小程序开发项目·阿梅的博客</view>
				<view>Javascript</view>
			</view>
			<view class="card_item">
				<view>mini-WX-blog</view>
				<view>forked from zhaofangmei/mini-WX-blog</view>
				<view>小程序开发项目·阿梅的博客</view>
				<view>Javascript</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				
			};
		}
	}
</script>

<style lang="scss">
	.overview {
		height: 100%;
		.topTitle {
			margin: 10px 0;
		}
		.cards {
			.card_item {
				border: 1px solid #e1e4e8;
				padding: 16px;
				border-radius: 6px;
				margin-bottom: 10px;
			}
		}
	}
</style>
