<template>
	<view class="aboutMe">
		<view class="self_info">
			<image src="../../static/images/avatar.jpg" @click="redirectToGithub"></image>
			<view class="userName">
				<text class="line1">Wyatt Wu</text>
				<text class="line2">Max-hearted</text>
			</view>
		</view>
		<view class="self_status">
			<image src="https://github.githubassets.com/images/icons/emoji/unicode/1f3e0.png" mode=""></image>
			<text>Working from home</text>
		</view>
		<view class="profile">
			<text>learning skills, loved code, crazy about Internet, Be myself</text>
		</view>
		<view class="editProfileBtn">
			<text>Edit profile</text>
		</view>
		<view class="emails">
			<image src="../../static/images/icon_dmail.png" mode=""></image>
			<text>652567039@qq.com</text>
		</view>
		<view class="followers">
			<image src="../../static/images/icon_group.png" mode=""></image>
			<text>3 followers · 2 following · 45 stars</text>
		</view>
		<swiper-tab class="swiperTab" :tab-list="tabList" :tabCur.sync="TabCur" @change="tabsChangeHandler"></swiper-tab>
		<swiper class="swiperCom" :current="TabCur" duration="300" @change="swiperChange" circular>
			<swiper-item>
				<overview></overview>
			</swiper-item>
			<swiper-item>
				<project></project>
			</swiper-item>
		</swiper>
		<view class="footerCom">
			<view class="footer_item">
				<text>© 2020 GitHub, Inc.</text>
				<text>Contact GitHub</text>
				<text>Blog</text>
				<text>Terms</text>
				<text>About</text>
			</view>
		</view>
	</view>
</template>

<script>
	import SwiperTab from "../../components/wuc-tab/wuc-tab.vue"
	import Overview from "../../components/overview/overview.vue"
	import Project from "../../components/projects/projects.vue"
	export default {
		data() {
			return {
					tabList: [
						{
							name: "Overview"
						},
						{
							name: "Projects"
						}
					],
					TabCur: 0
			};
		},
		components: {
			SwiperTab,
			Overview,
			Project
		},
		methods: {
			redirectToGithub () {
					location.href = "https://github.com/dcloudio/uni-app"
			},
			tabsChangeHandler (index) {
				this.TabCur = index
			},
			swiperChange (e) {
				this.TabCur = e.detail.current
			}
		}
	}
</script>

<style lang="scss" scoped>
	.aboutMe {
		padding: 0 16px;
		
		.self_info {
			margin: 24px 0;
			display: flex;
			align-items: center;
				image {
					height: 72px;
					width: 72px;
					border-radius: 50%;
					margin-right: 16px;
				}
				.userName {
					line-height: 1.5;
					text {
						display: block;
					}
					.line1 {
						font-size: 52rpx;
						line-height: 60rpx;
						margin-bottom: 10rpx;
					}
					.line2 {
						font-size: 40rpx;
						font-style: normal;
						font-weight: 300;
						line-height: 48rpx;
						color: #666;
					}
				}
		}
		.self_status {
			border: 1px solid #f9c513;
			border-radius: 6px;
			background: #fff5b1;
			display: flex;
			align-items: center;
			padding: 2px;
				image {
					width: 18px;
					height: 20px;
					margin-right: 5px;
				}
				text {
					font-size: 12px;
					line-height: 20px;
					
				}
		}
		.profile {
			margin-bottom: 20px;
			text {
				font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
				font-size: 16px;
				line-height: 1.5;
				color: #24292e;
			}
// 			&:active {
// 				background: #eee
// 			}
		}
		.editProfileBtn {
			height: 24px;
			width: 100%;
			border: 1px solid rgba(27,31,35,.15);
			border-radius: 6px;
			background: #fafbfc;
			text-align: center;
			line-height: 20px;
			padding: 2px;
			margin-bottom: 20px;

				text {
					width: 100%;
					font-size: 14px;
					padding: 2px;
				}
		}
		.emails {
			display: flex;
			align-items: center;
			margin-bottom: 10px;
			image {
				width: 16px;
				height: 16px;
				margin-right: 5px;
			}
			text {
				font-size: 14px;
			}
		}
		.followers {
			display: flex;
			align-items: center;
			margin-bottom: 40px;
			image {
				width: 16px;
				height: 16px;				
				margin-right: 5px;
			}
			text {
				font-size: 14px;				
			}
		}
		.swiperTab {
			/deep/ .uni-scroll-view {
				font-size: 16px;
			}
		}
		.swiperCom {
			height: 650px;
			margin-bottom: 20px;
			uni-swiper-item {
				margin-top: 20px;
				uni-view {
					font-size: 16px;
				}
			}
		}
		.footerCom {
			.footer_item {
				font-size: 14px;
				margin: 40px 0;
				display: flex;
				justify-content: space-between;
				height: 100%;
				text {
					width: 100%;
					margin-right: 5px;
					padding: 2px;
					text-align: center;
				}
			}
		}
	}
</style>
