<template>
	<view class="project">
		<input class="uni-input" @input="onKeyInput" placeholder="Find a repository..." placeholder-style="padding:4px 2px;"/>
		<view class="repository_list">
			<view class="repository_item" v-for="(item, index) in repoSArr" :key="index">
				<view class="repository_name">
					<text>{{item.name}}</text>
				</view>
				<view class="repository_des">
					<text>{{item.des}}</text>
				</view>
				<view class="lang">
					<view class="circle"></view>
					<view class="text">
						<text>{{item.langs}}</text>
					</view>
					<view class="date">
						<text>{{item.date}}</text>
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				repoSArr: [
					{
						name: "Vue.js",
						des: "A simple questionaire developed by Vue.js",
						langs: "HTML",
						date: "updated on 18 Sep 2018"
					},
					{
						name: "Vue.js",
						des: "A simple questionaire developed by Vue.js",
						langs: "JAVA",
						date: "updated on 5 Sep 2018"
					},
					{
						name: "Vue.js",
						des: "A simple questionaire developed by Vue.js",
						langs: "CSS",
						date: "updated on 20 Sep 2018"
					},
					{
						name: "PGwon",
						des: "A simple questionaire developed by Vue.js",
						langs: "JS",
						date: "updated on 18 Sep 2018"
					}
				]
			};
		}
	}
</script>

<style lang="scss">
	.project {
		uni-input {
			border: 1px solid #eee;
			border-radius: 6px;
			height: 36px;
		}
		.repository_list {
			margin-top: 10px;
			border-top: 1px solid #eee;
			.repository_item {
				border-bottom: 1px solid #eee;
				padding: 16px;
				.repository_name {
					font-size: 20px;
					color: #007AFF;
				}
				.repository_des {
					margin: 10px 0;
				}
				.lang {
					display: flex;
					align-items: center;
					line-height: 40px;
					.circle {
						width: 10px;
						height: 10px;
						border-radius: 50%;
						background: #E34C26;
						margin-right: 4px;
					}
					.text {
						margin-right: 40px;
					}
				}
			}
		}
	}
</style>
