<template name="myCom02">
	<view class="apis_con">
		<image src="../../static/images/frameworkAPI.png" mode="widthFix"></image>
	</view>
</template>

<script>
	export default {
		name: "myCom02",
		data () {
			return {
				
			}
		}
	}
</script>

<style lang="scss">
	.apis_con {
		iamge {
			width: 100%;
			height: 100%;
		}
	}
</style>
