<template name="myCom03">
	<view class="test_con">
		<image src="../../static/images/autoTEST.png" mode="widthFix"></image>
	</view>
</template>

<script>
	export default {
		name: "myCom03",
		data () {
			return {
				
			}
		}
	}
</script>

<style lang="scss">
	.test_con {
		iamge {
			width: 100%;
			height: 100%;
		}
	}
</style>
