<template name="myCom01">
	<view class="config">
		<text>pages.json</text><br><br>
		<text>
			<text class="special_color">pages.json</text>文件用来对 <text class="special_color">uni-app</text> 进行全局配置，决定页面文件的路径、窗口样式、原生的导航栏、底部的原生tabbar 等
		</text>
		<br><br>
		<text>manifest.json</text><br><br>
		<text>
			<text class="special_color">manifest.json</text> 文件是应用的配置文件，用于指定应用的名称、图标、权限等
		</text>
		<br>
		<br>
		<text style="font-weight: 700;">Tips</text>
		<br>
		<br>
		<view class="tip_items">
			<text>· uni-app 的 <text class="special_color">appid</text> 由 DCloud 云端分配，主要用于 DCloud 相关的云服务，请勿自行修改</text><br>
			<text>· 注意区分 uni-app 的 <text class="special_color">appid</text> 与微信小程序、iOS 等其它平台分配的 <text class="special_color">appid</text>，以及第三方 SDK 的 <text class="special_color">appid</text></text><br>
			<text>· versionName在云打包App和生成wgt应用资源时会使用。如需升级App版本，先修改此处再云打包。导出wgt资源用于离线打包和热更新时也会以此版本为依据</text><br>
			<text>· 在本地打包时和热更新时，App版本和wgt应用资源版本将不再保持一致。此时通过plus.runtime.version可获取App版本，通过plus.runtime.getProperty获取wgt资源版本</text>
		</view>
		<br>
		<text>
			通过在<text class="special_color">package.json</text>文件中增加<text class="special_color">uni-app</text>扩展节点，可实现自定义条件编译平台（如钉钉小程序、微信服务号等平台）
		</text>
		<br>
		<br>
		<text style="font-weight: 700;">Tips</text>
		<br>
		<br>
		<view class="tip_items">
			<text>· <text class="special_color">UNI_PLATFORM</text> 仅支持填写uni-app默认支持的基准平台，目前仅限如下枚举值：<text class="special_color">h5</text>、<text class="special_color">mp-weixin</text>、<text class="special_color">mp-alipay</text>、<text class="special_color">mp-baidu</text>、<text class="special_color">mp-toutiao</text>、<text class="special_color">mp-qq</text></text><br>
			<text>· <text class="special_color">BROWSER</text> 仅在UNI_PLATFORM为<text>h5</text>时有效,目前仅限如下枚举值: <text class="special_color">Chrome</text>、<text class="special_color">FireFox</text>、<text class="special_color">IE</text>、<text class="special_color">Edge</text>、<text class="special_color">Safari</text>、<text class="special_color">HBuilderX</text></text><br>
			<text>· <text class="special_color">package.json</text>文件中不允许出现注释，否则扩展配置无<br></text>
			<text>· <text class="special_color">vue-cli</text>需更新到最新版，HBuilderX需升级到 2.1.6+ 版本</text>
		</view>
		<br>
		<text>vue.config.js</text><br><br>
		<text>
			vue.config.js 是一个可选的配置文件，如果项目的根目录中存在这个文件，那么它会被自动加载，一般用于配置 webpack 等编译选项
		</text>
		<br>
		<br>
		<text style="font-weight: 700;">注意事项</text>
		<br>
		<br>
		<text>· 仅vue页面生效</text>		<br>
		<text>· publicPath 不支持，如果需要配置，请在 manifest.json->h5->router->base 中配置</text>		<br>
		<text>· outputDir 不支持</text>		<br>
		<text>· assetsDir 固定 static</text>		<br>
		<text>· pages 不支持</text>		<br>
		<text>· runtimeCompiler 固定 false</text>		<br>
		<text>· productionSourceMap 固定 false</text>		<br>
		<text>· css.extract H5 平台固定 false，其他平台固定 true</text>		<br>
		<text>· parallel 固定 false</text>		<br>
		<text>· 使用cli项目时，默认情况下 babel-loader 会忽略所有 node_modules 中的文件。如果你想要通过 Babel 显式转译一个依赖，可以在transpileDependencies中列出来</text>
		<br>
		<br>
		<text>uni.scss</text><br><br>
		<text>
			<text  class="special_color">uni.scss</text> 文件的用途是为了方便整体控制应用的风格。比如按钮颜色、边框风格，<>uni.scss文件里预置了一批scss变量预置
		</text>
		<br>
		<br>
		<text>
			<text  class="special_color">uni-app</text>  官方扩展插件（uni ui）及 插件市场 上很多三方插件均使用了这些样式变量，如果你是插件开发者，建议你使用 scss 预处理，并在插件代码中直接使用这些变量（无需 import 这个文件），方便用户通过搭积木的方式开发整体风格一致的App
		</text>
		<br>
		<br>
		<text>
			<text  class="special_color">uni.scss</text> 是一个特殊文件，在代码中无需 import 这个文件即可在scss代码中使用这里的样式变量。uni-app的编译器在webpack配置中特殊处理了这个uni.scss，使得每个scss文件都被注入这个uni.scss，达到全局可用的效果。如果开发者想要less、stylus的全局使用，需要在vue.config.js中自行配置webpack策略
		</text>
		<br>
		<br>
		<text>App.vue</text>
		<br>
		<br>
		<text>
			<text class="special_color">App.vue</text> 是uni-app的主组件，所有页面都是在<text class="special_color">App.vue</text>下进行切换的，是页面入口文件。但<text class="special_color">App.vue</text>本身不是页面，这里不能编写视图元素。
这个文件的作用包括：调用应用生命周期函数、配置全局样式、配置全局的存储globalData
应用生命周期仅可在<text class="special_color">App.vue</text>中监听，在页面监听无效
		</text>
		<br>
		<br>
		<text>main.js</text>
		<br>
		<br>
		<text>
			<text class="special_color">main.js</text>是uni-app的入口文件，主要作用是初始化<text class="special_color">vue</text>实例、定义全局组件、使用需要的插件如vuex。首先引入了<text class="special_color">Vue</text>库和<text class="special_color">App.vue</text>，创建了一个<text class="special_color">vue</text>实例，并且挂载<text class="special_color">vue</text>实例
		</text>
	</view>
</template>

<script>
	export default {
		name: "myCom01",
		data() {
			return {
				
			};
		}
	}
</script>

<style lang="scss">
	.config {
		line-height: 26px;
	}
</style>
