<template>
	<view class="intro">
		<swiper class="intro_swiper" indicator-dots="true" autoplay="true" interval="3000" duration="1000" circular>
				<swiper-item>
						<image src="../../static/images/banner/374fe25e3b2dc995a3f80242c0ff5496.png" mode="widthFix"></image>
				</swiper-item>
				<swiper-item>
						<image src="../../static/images/banner/5babe8892f51976614c4ce9ec2b1d93d.jpg" mode="widthFix"></image>
				</swiper-item>
				<swiper-item>
						<image src="../../static/images/banner/f5657c87de7c2edeb6c0808413b54ebd.jpg" mode="widthFix"></image>
				</swiper-item>
		</swiper>
		<view class="logo">
			<image src="//img-cdn-qiniu.dcloud.net.cn/uniapp/doc/uniapp4@2x.png" mode=""></image>
		</view>
		<view class="whatIsUniapp">
			<text>什么是uni-app</text>
		</view>
		<view class="thisIsUniapp">
			<text><text class="special_color">uni-app</text> 是一个使用 Vue.js 开发所有前端应用的框架，开发者编写一套代码，可发布到iOS、Android、H5、以及各种小程序（微信/支付宝/百度/头条/QQ/钉钉/淘宝）、快应用等多个平台<br></text>
			<br>
			<text><text class="special_color">DCloud</text> 公司拥有500万开发者用户，几十万应用案例、10亿手机端月活用户，数千款uni-app插件、70+微信/qq群。阿里小程序工具官方内置uni-app（详见），腾讯课堂官方为uni-app录制培训课程（详见），开发者可以放心选择<br></text>
			<br>
			<text><text class="special_color">uni-app</text>在手，做啥都不愁。即使不跨端，uni-app也是更好的小程序开发框架（详见）、更好的App跨平台框架、更方便的H5开发框架。不管领导安排什么样的项目，你都可以快速交付，不需要转换开发思维、不需要更改开发习惯</text>
		</view>
		<view class="quick_ep">
			<text>快速体验<br></text>
			<br>
			<view class="scan_code_list">
				<image src="https://vkceyugu.cdn.bspapp.com/VKCEYUGU-uni-app-doc/7c946930-bcf2-11ea-b997-9918a5dda011.png" mode=""></image>
				<text>Android 版</text>
			</view>
			<view class="scan_code_list">
				<image src="https://vkceyugu.cdn.bspapp.com/VKCEYUGU-uni-app-doc/7c910dd0-bcf2-11ea-b680-7980c8a877b8.png" mode=""></image>
				<text>IOS 版</text>
			</view>
			<view class="scan_code_list">
				<image src="https://img.cdn.aliyun.dcloud.net.cn/guide/uniapp/uni-h5-hosting-qr.png" mode=""></image>
				<text>H5 版</text>
			</view>
			<view class="scan_code_list">
				<image src="//img.cdn.aliyun.dcloud.net.cn/guide/uniapp/gh_33446d7f7a26_430.jpg" mode=""></image>
				<text>微信小程序 版</text>
			</view>
			<view class="scan_code_list">
				<image src="https://vkceyugu.cdn.bspapp.com/VKCEYUGU-uni-app-doc/30112940-bcf2-11ea-a30b-e311646dfaf2.png" mode=""></image>
				<text>支付宝小程序 版</text>
			</view>
			<view class="scan_code_list">
				<image src="https://vkceyugu.cdn.bspapp.com/VKCEYUGU-uni-app-doc/e7fc6700-bcf1-11ea-b680-7980c8a877b8.png" mode=""></image>
				<text>百度小程序 版</text>
			</view>
			<view class="scan_code_list">
				<image src="https://img.cdn.aliyun.dcloud.net.cn/guide/uniapp/mp-toutiao.png" mode=""></image>
				<text>字节跳动小程序 版</text>
			</view>
			<view class="scan_code_list">
				<image src="https://img.cdn.aliyun.dcloud.net.cn/guide/uniapp/hello-uni-qq.png" mode=""></image>
				<text>QQ小程序 版</text>
			</view>
			<view class="scan_code_list">
				<image src="https://img.cdn.aliyun.dcloud.net.cn/guide/uniapp/hello-uni-qa-union.png" mode=""></image>
				<text>快应用</text>
			</view>
			<view class="scan_code_list">
				<image src="https://img.cdn.aliyun.dcloud.net.cn/guide/uniapp/hello-uni-mp-360-qr.png" mode=""></image>
				<text>360小程序</text>
			</view>
		</view>
		<view class="u_tips">
			<text>注: </text>
			<br>
			<text>- 某些平台不能提交简单demo，故补充了一些其他功能；hello uni-app示例代码可从github获取</text><br>
			<text>- 快应用仅支持 vivo 、oppo、华为</text><br>
			<text>- 360小程序仅 windows平台支持，需要在360浏览器中打开</text>
		</view>
		<view class="u_video">
			<text>uni-app 视频介绍</text>
			<video id="myVideo" src="https://img.cdn.aliyun.dcloud.net.cn/guide/uniapp/%E7%AC%AC1%E8%AE%B2%EF%BC%88uni-app%E4%BA%A7%E5%93%81%E4%BB%8B%E7%BB%8D%EF%BC%89-%20DCloud%E5%AE%98%E6%96%B9%E8%A7%86%E9%A2%91%E6%95%99%E7%A8%8B@20200317.mp4" object-fit="fill" enable-danmu danmu-btn controls></video>
		</view>
		<view class="bt_line">
			<text>----------  这是底线  ----------</text>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				
			};
		}
	}
</script>

<style lang="scss">
	.intro {
		.intro_swiper {
			height: 375rpx;
			image {
				width: 100%;
				height: 100%;
			}
		}
		.logo {
			width: 100%;
			margin: 10px 0;
			padding-left: 10px;
			border-bottom: 1px solid #eee;
			image {
				width: 135px;
				height: 33px;
			}
		}
		.whatIsUniapp {
			padding:  0 10px 10px 10px;
			text {
				font-size: 15px;
				color: $main-color;
			}
		}
		.thisIsUniapp {
			font-size: 15px;
			padding: 10px;
		}
		.quick_ep {
			padding: 0 10px 10px 10px;
			text {
				color: $main-color;
				font-size: 15px;
			}
			.scan_code_list {
				display: flex;
				flex-direction: column;
				justify-content: center;
				text-align: center;
				margin-bottom: 20px;
				image {
					width: 160px;
					height: 160px;
					margin: 0 auto 10px;
				}
				text {
					display: inline-block;
				}
			}
		}
		.u_tips {
			padding: 10px;
			text:nth-child(1) {
				font-size: 15px;
			}
			text:not(:first-child) {
				font-size: 14px;
				color: #7f8c8d;
			}
		}
		.u_video {
			width: 750rpx;
			min-width: 100%;
			text-align: center;
			text {
				font-size: 15px;
				color: $main-color;
				display: inline-block;
				margin-bottom: 20px;
			}
			#myVideo {
				margin: 20px auto;
			}
		}
		.bt_line {
			text-align: center;
			color: #7f8c8d;
			font-size: 14px;
			margin: 10px 0;
		}
	}
</style>
