<template>
	<view class="frameWork">
		<view class="top_control">
			<uni-segmented-control :current="current" :values="items" @clickItem="onClickItem" style-type="button" active-color="#42B983"></uni-segmented-control>
        <view class="content">
					<view v-if="current === 0">
							<my-com01></my-com01>
					</view>
					<view v-if="current === 1">
							<my-com02></my-com02>
					</view>
					<view v-if="current === 2">
							<my-com03></my-com03>
					</view>
			</view>
		</view>
	</view>
</template>

<script>
	import uniSegmentedControl from "../../components/uni-segmented-control/uni-segmented-control.vue"
	import MyCom01 from "../../components/myComs/myCom01.vue"
	import MyCom02 from "../../components/myComs/myCom02.vue"
	import MyCom03 from "../../components/myComs/myCom03.vue"
	export default {
		data() {
			return {
				items: ["配置", "框架接口", "自动化测试"],
				current: 0
			}
		},
		methods: {
			onClickItem (e) {
				if(this.current !== e.currentIndex) {
					this.current = e.currentIndex
				}
			}
		},
		components: {
			MyCom01,
			MyCom02,
			MyCom03
		}
	}
</script>

<style lang="scss">
	.frameWork {
		.top_control {
			font-size: 15px;
			margin: 60rpx 40rpx;
			/deep/ .segmented-control__text {
				font-size: 15px !important;
			}
			
			.content {
				width: 100%;
				height: 100%;
				margin-top: 20px;
			}
		}
	}
</style>
