<template>
	<view class="container">
		<!-- 滚动区域 -->
		<view class="scroll-panel" id="scroll-panel">
			<view class="list-box">
				<view class="left">
					<scroll-view scroll-y="true" 
						:style="{ 'height':scrollHeight + 'px' }" 
						:scroll-into-view="leftIntoView"
						>
						<view class="item" 
							v-for="(item,index) in leftArray"
							:key="index" 
							:class="{ 'active':index==leftIndex }" 
							:id="'left-'+index"
							:data-index="index"
							@tap="leftTap"
						>{{item}}</view>
			        </scroll-view>
				</view>
				<view class="main">
					<scroll-view  scroll-y="true" :style="{ 'height':scrollHeight + 'px' }" @scroll="mainScroll" :scroll-into-view="scrollInto" scroll-with-animation="true">
						<view class="item main-item" v-for="(item,index) in mainArray" :key="index" :id="'item-'+index">
							<view class="title">
								<view>{{item.title}}</view>
							</view>
							<view class="goods" v-for="(item2,index2) in item.list" :key="index2">
								<view>
									<view>{{item2}}</view>
									<text class="r_subText">{{item.text[index2]}}</text>
								</view>
							</view>
						</view>
						<view class="fill-last" :style="{ 'height':fillHeight + 'px' }"></view>
					</scroll-view>
				</view>
			</view>
		</view>
	</view>
	
</template>

<script>
	export default {
		data() {
			return {
				scrollHeight:400,
				scrollTopSize:0,
				fillHeight:0,	// 填充高度，用于最后一项低于滚动区域时使用
				leftArray:["日志打印", "定时器", "应用生命周期", "页面生命周期", "应用级事件", "发起请求", "上传下载", "WebSocket", "SocketTask", "mDNS", "UDP通信", "路由", "数据缓存", "图片", "系统信息", "拨打电话", "其他"],
				mainArray:[
					{
						title: "Console",
						list: ["console", "debug", "log", "info", "warm", "error"],
						text: ["向控制台打印日志信息", 
						"向控制台打印 debug 日志",
						"向控制台打印 log 日志",
						"向控制台打印 info 日志",
						"向控制台打印 warn 日志",
						"向控制台打印 error 日志"]
					},
					{
						title: "setTimeOut",
						list: ["setTimeOut", "clearTimeOut", "setInterval", "clearInterval"],
						text: ["setTimeout(callback, delay, rest)设定一个定时器。在定时到期以后执行注册的回调函数", 
						"clearTimeout(timeoutID)取消由 setTimeout 设置的定时器",
						"setInterval(callback, delay, rest)设定一个定时器。按照指定的周期（以毫秒计）来执行注册的回调函数",
						"clearInterval(intervalID)取消由 setInterval 设置的定时器"]
					},
					{
						title: "应用生命周期",
						list: ["onLaunch", "onShow", "onHide", "onUniNViewMessage"],
						text: ["当uni-app 初始化完成时触发（全局只触发一次）", 
						"当 uni-app 启动，或从后台进入前台显示",
						"当 uni-app 从前台进入后台",
						"对 nvue 页面发送的数据进行监听"
						]
					},
					{
						title: "页面生命周期",
						list: ["onLoad", "onShow", "onReady", "onHide", "onUnload", "onResize", "onPullDownRefresh", "onReachBottom", "onTapItemTab", "onShareAppMessage", "onPageScroll", "onBackPress"],
						text: ["监听页面加载，其参数为上个页面传递的数据，参数类型为Object", 
						"监听页面显示。页面每次出现在屏幕上都触发，包括从下级页面点返回露出当前页面志",
						"监听页面初次渲染完成。注意如果渲染速度快，会在页面进入动画完成前触发",
						"监听页面隐藏",
						"监听页面卸载",
						"监听窗口尺寸变化",
						"监听用户下拉动作，一般用于下拉刷新",
						"页面滚动到底部的事件（不是scroll-view滚到底），常用于上拉加载下一页数据",
						"点击 tab 时触发，参数为Object",
						"用户点击右上角分享",
						"监听页面滚动，参数为Object",
						"监听页面返回，返回 event = {from:backbutton、 navigateBack} ，backbutton 表示来源是左上角返回按钮或 android 返回键"]
					},
					{
						title: "应用级事件",
						list: ["onPageNotFound", "onError", "onAppShow", "onAppHide", "offPageNotFound", "offError", "offAppShow", "offAppHide"],
						text: ["监听应用要打开的页面不存在事件", 
						"监听小程序错误事件",
						"监听应用切前台事件",
						"监听应用切后台事件",
						"取消监听应用要打开的页面不存在事件",
						"取消监听应用错误事件",
						"取消监听小程序切前台事件",
						"取消监听小程序切后台事件"
						]
					},
					{
						title: "请求",
						list: ["uni.request"],
						text: ["发起网络请求"]
					},
					{
						title: "上传",
						list: ["uni.uploadFile", "uni.downloadFile"],
						text: ["将本地资源上传到开发者服务器，客户端发起一个 POST 请求，其中 content-type 为 multipart/form-data", "下载文件资源到本地，客户端直接发起一个 HTTP GET 请求，返回文件的本地临时路径"]
					},
					{
						title: "WebSocket",
						list: ["connectSocket", "onSocketOpen", "onSocketError", "sendSocketMessage", "onSocketMessage", "closeSocket", "onSocketClose"],
						text: [
							"创建一个 WebSocket 连接",
							"监听WebSocket连接打开事件",
							"监听WebSocket错误",
							"通过 WebSocket 连接发送数据，需要先 uni.connectSocket，并在 uni.onSocketOpen 回调之后才能发送",
							"监听WebSocket接受到服务器的消息事件",
							"关闭 WebSocket 连接",
							"监听WebSocket关闭"
						]
					},
					{
						title: "SocketTask",
						list: ["SocketTask.onMessage"],
						text: [
							"监听 WebSocket 接受到服务器的消息事件"]
					},
					{
						title: "mDNS 服务",
						list: ["微信小程序平台支持"],
						text: ["规范详情"]
					},
					{
						title: "UDP 通信",
						list: ["仅微信小程序平台支持"],
						text: ["规范详情"]
					},
					{
						title: "路由",
						list: ["console", "debug", "log", "info", "warm", "error"],
						text: ["向控制台打印日志信息", 
						"向控制台打印 debug 日志",
						"向控制台打印 log 日志",
						"向控制台打印 info 日志",
						"向控制台打印 warn 日志",
						"向控制台打印 error 日志"]
					},
					{
						title: "数据缓存",
						list: ["console", "debug", "log", "info", "warm", "error"],
						text: ["向控制台打印日志信息", 
						"向控制台打印 debug 日志",
						"向控制台打印 log 日志",
						"向控制台打印 info 日志",
						"向控制台打印 warn 日志",
						"向控制台打印 error 日志"]
					},
					{
						title: "图片",
						list: ["console", "debug", "log", "info", "warm", "error"],
						text: ["向控制台打印日志信息", 
						"向控制台打印 debug 日志",
						"向控制台打印 log 日志",
						"向控制台打印 info 日志",
						"向控制台打印 warn 日志",
						"向控制台打印 error 日志"]
					},
					{
						title: "系统信息",
						list: ["console", "debug", "log", "info", "warm", "error"],
						text: ["向控制台打印日志信息", 
						"向控制台打印 debug 日志",
						"向控制台打印 log 日志",
						"向控制台打印 info 日志",
						"向控制台打印 warn 日志",
						"向控制台打印 error 日志"]
					},
					{
						title: "拨打电话",
						list: ["console", "debug", "log", "info", "warm", "error"],
						text: ["向控制台打印日志信息", 
						"向控制台打印 debug 日志",
						"向控制台打印 log 日志",
						"向控制台打印 info 日志",
						"向控制台打印 warn 日志",
						"向控制台打印 error 日志"]
					},
					{
						title: "其他",
						list: ["console", "debug", "log", "info", "warm", "error"],
						text: ["向控制台打印日志信息", 
						"向控制台打印 debug 日志",
						"向控制台打印 log 日志",
						"向控制台打印 info 日志",
						"向控制台打印 warn 日志",
						"向控制台打印 error 日志"]
					},
				],
				topArr:[],
				leftIndex:0,
				scrollInto:''
			}
		},
		computed:{
			/* 计算左侧滚动位置定位 */
			leftIntoView(){
				return `left-${this.leftIndex > 3 ? (this.leftIndex-3):0}`;
			}
		},
		mounted(){
			/* 等待DOM挂载完成 */
			this.$nextTick(()=>{
				/* 在非H5平台，nextTick回调后有概率获取到错误的元素高度，则添加200ms的延迟来减少BUG的产生 */
				setTimeout(()=>{
					/* 等待滚动区域初始化完成 */
					this.initScrollView().then(()=>{
						/* 获取列表数据，你的代码从此处开始 */
						this.getListData();
					})
				},200);
			})
		},
		methods: {
			/* 初始化滚动区域 */
			initScrollView(){
				return new Promise((resolve, reject)=>{
					let view = uni.createSelectorQuery().select('#scroll-panel');
					view.boundingClientRect(res => {
						this.scrollTopSize = res.top;
						this.scrollHeight = res.height;
						this.$nextTick(()=>{
							resolve();
						})
					}).exec();
				});
			},
			/* 获取列表数据 */
			getListData(){
				// Promise 为 ES6 新增的API ，有疑问的请自行学习该方法的使用。
				new Promise((resolve,reject)=>{
					/* 因无真实数据，当前方法模拟数据。正式项目中将此处替换为 数据请求即可 */
					uni.showLoading();
					setTimeout(()=>{
						let [left,main]=[[],[]];
						
// 						for(let i=0;i<25;i++){
// 							left.push(`${i+1}类商品`);
// 							
// 							let list=[];
// 							let r = Math.floor(Math.random()*10);
// 							r = r < 1 ? 3 : r;
// 							for(let j=0;j<r;j++){
// 								list.push(j);
// 							}
// 							main.push({
// 								title:`第${i+1}类商品标题`,
// 								list
// 							})
// 						}
						
						// 将请求接口返回的数据传递给 Promise 对象的 then 函数。
						resolve({left,main});
					},1000);
				}).then((res)=>{
					uni.hideLoading();
// 					this.leftArray=res.left;
// 					this.mainArray=res.main;
					
					// DOM 挂载后 再调用 getElementTop 获取高度的方法。
					this.$nextTick(()=>{
						this.getElementTop();
					});
				});
			},
			/* 获取元素顶部信息 */
			getElementTop(){
				new Promise((resolve,reject)=>{
					let view = uni.createSelectorQuery().selectAll('.main-item');
					view.boundingClientRect(data => {
						resolve(data);
					}).exec();
				}).then((res)=>{
					let topArr = res.map((item)=>{
						return item.top - this.scrollTopSize;	/* 减去滚动容器距离顶部的距离 */
					});
					this.topArr = topArr;
					
					/* 获取最后一项的高度，设置填充高度。判断和填充时做了 +-20 的操作，是为了滚动时更好的定位 */
// 					let last = res[res.length-1].height;			
// 					if(last - 20 < this.scrollHeight){
							this.fillHeight = 464;
// 					}
				});
			},
			/* 主区域滚动监听 */
			mainScroll(e){
				let top =e.detail.scrollTop;
				let index=0;
				/* 查找当前滚动距离 */
				for(let i = (this.topArr.length-1);i>=0;i--){
					/* 在部分安卓设备上，因手机逻辑分辨率与rpx单位计算不是整数，滚动距离与有误差，增加2px来完善该问题 */
					if((top+2)>=this.topArr[i]){
						index = i;
						break;
					}
				}
				this.leftIndex=(index < 0 ? 0: index);
			},
			/* 左侧导航点击 */
			leftTap(e){
				let index=e.currentTarget.dataset.index;
				this.scrollInto=`item-${index}`;
			}
		}
	}
</script>

<style lang="scss">
page,.container{
	height: 100%;
}
/* 容器 */
.container{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	
	&>view{
		width: 100%;
	}
	
	.scroll-panel{
		flex-grow: 1;
		height: 0;
		overflow: hidden;
	}
	
	.bottom-panel{
		padding-bottom: 0;
		padding-bottom: constant(safe-area-inset-bottom);  
		padding-bottom: env(safe-area-inset-bottom);		
	}
}
	
	
.list-box{
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
	font-size: 28rpx;
	
	.left{
		width: 200rpx;
		background-color: #f6f6f6;
		line-height: 80rpx;
		box-sizing: border-box;
		font-size: 28rpx;
		
		.item{
			padding-left: 20rpx;
			position: relative;
			&:not(:first-child) {
				margin-top: 1px;
			
				&::after {
					content: '';
					display: block;
					height: 0;
					border-top: #d6d6d6 solid 1px;
					width: 620upx;
					position: absolute;
					top: -1px;
					right: 0;
					transform:scaleY(0.5);	/* 1px像素 */
				}
			}
			
			&.active{
				color: #42b983;
				background-color: #fff;
			}
		}
		
		.fill-last{
			height: 0;
			width: 100%;
			background: none;
		}
	}
	.main{
		background-color: #fff;
		padding-left: 20rpx;
		width: 0;
		flex-grow: 1;
		box-sizing: border-box;
		
		
		
		.title{
			line-height: 64rpx;
			font-size: 24rpx;
			font-weight: bold;
			color: #666;
			background-color: #fff;
			position: sticky;
			top: 0;
			z-index: 19;
			view {
				color: $main-color;
			}
		}
		
		.item{
			padding-bottom: 10rpx;
			border-bottom: #eee solid 1px;
		}
		
		.goods{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-items: center;
			align-content: center;
			margin-bottom: 10rpx;
			
			&>image{
				width: 120rpx;
				height: 120rpx;
				margin-right: 16rpx;
				margin-left: 2px;
			}
			
			.r_subText {
				color: #3F536E;
			}
		}
	}
}
</style>